/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 150px 0 150px;
	max-width: 1140px;
}

@media screen and (max-width: 592px) {
  header {
    flex-direction: column;
	width: 100%;
	    margin: 50px 150px 0 40px;
  }
}

main {
	max-width: 1140px;
	margin:auto;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li a {
	text-decoration-line: none;
	color: black;
}

nav a:hover {
	color: #B1663C;	
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;
	position: relative;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-right: 31px;
}

/* Layout hidden button after connexion */

.edit-mode {
	display : none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 59px;
    background-color: black;
    color: #FFF;
    gap: 20px;
}
.edit-mode button {
    height: 38px;
    width: 13%;
	min-width: 122px;
    border-radius: 60px;
    border: transparent;
	cursor: pointer;
}

.edit-btn1 {
	display: none;
	position: absolute;
	left: 55px;
	bottom: -30px;
	cursor: pointer;
}

.edit-btn2 {
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.edit-btn3 {
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
}

/* Layout button filter */
#filter-category {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}
#filter-category div{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 37px;
	padding-left: 10px;
	padding-right: 10px;
}
.filter-button {
	color: #1D6154;
	text-align: center;
	font-family: 'Syne';
	font-style: normal;
	font-size: 16px;
	font-weight: 700;
	background: #FFF;
	margin-right: 10px;
	border-radius: 60px;
	border: 1px solid #1D6154;
	cursor: pointer;
}
.active, .filter-button:hover{
	background: #1D6154;
	color: #FFFEF8;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #A7A7A7;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
	display: flex;
	justify-content: flex-end;
	background-color: #FFF;
	width: 100%;
	height: 60px;
}

footer nav {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 107px;
}
footer li{
	font-size: 14px;
	font-weight: 300;
}

/* CSS page Connexion*/
.connexion {
	max-width: 1440px;
	height: 650px;
	position: relative;
}
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}
form h2 {
	margin-bottom: 50px;
}
form p {
	padding: 10px;
}
form input {
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	width: 379px;
	height: 51px;
	flex-shrink: 0;
	border-color: transparent;
}
form button {
	width: 179px;
	height: 36px;
	flex-shrink: 0;
	border-radius: 60px;
	background: #1D6154;
	color: #FFF;
	border-color: transparent;
}
form button:hover {
	background: #0E2F28;
	cursor: pointer;
}
.forget-password {
	text-decoration: underline;
}
.footer-login {
	position: absolute;
	bottom: 0;
}
/********* CSS Modal1 ********/
.modal-container {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
.modal-container.active {
	display: block;
	background: rgba(63, 62, 62, 0.3);
}
.overlay {
	width: 100%;
	height: 418%;
	background: rgba(63, 62, 62, 0.3);
}

.modal1, .modal2 {
	width: 70%;
	height: 854px;
	border-radius: 10px;
	background: #FFF;
	position: absolute;
	top: 51%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal1 h2 {
	text-align: center;
	width: 100%;
	font-size: 26px;
	color: #000;
	font-weight: 400;
	margin-top: 20px;
}

.picture-modal {
	height: 70%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 152px);
	grid-template-rows: repeat(3, 168px);
	margin-top: 50px;
	overflow-y: auto;
	column-gap: 10px;
	row-gap: 41px;
	justify-content: center;
}
@media screen and (max-width: 1182px) {
  .picture-modal {
    grid-template-columns: repeat(4, 152px); /* Passe à 4 colonnes */
  }
}

@media screen and (max-width: 950px) {
  .picture-modal {
    grid-template-columns: repeat(3, 152px); /* Passe à 4 colonnes */
  }
}

@media screen and (max-width: 711px) {
  .picture-modal {
    grid-template-columns: repeat(2, 152px); /* Passe à 4 colonnes */
  }
}

@media screen and (max-width: 491px) {
  .picture-modal {
    grid-template-columns: repeat(1, 152px); /* Passe à 4 colonnes */
  }
}

.fa-trash-can {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	color: #FFF;
	width: 19px;
	height: 21px;
	top: 5%;
	right: 5%;
	background: #000;
	border-radius: 2px;
	cursor: pointer;
}

.fa-up-down-left-right {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	color: #FFF;
	width: 19px;
	height: 21px;
	top: 5%;
	right: 20%;
	background: #000;
	border-radius: 2px;
	cursor: pointer;
	visibility: hidden;
}

.photosM:hover .fa-up-down-left-right {
	visibility: visible;
}

.photosM {
	width: 122px;
	height: 139px;
	position: relative;
}

.pictures {
	width: 100%;
	height: 148px;
}
.edit {
	font-size: 16px;
	color: #000;
	padding: auto;
}

.underline {
	width: 82%;
	height: 1px;
	background: #B3B3B3;
	margin: auto;
	margin-bottom: 20px;
}

.add-picture {
	border-radius: 60px;
	background: #1D6154;
	color: #FFF;
	font-family: Syne;
	border-color: transparent;
	width: 36%;
	min-width: 200px;
	height: 36px;
	text-align: center;
	display: block;
	margin: auto;
	cursor: pointer;
}

.delete-gallery {
	color: #d65353;
	text-align: center;
	margin-top: 23px;
}

.close-modal {
	background: #FFF;
	border-color: transparent;
	width: 100%;
	position: relative;
	height: 20px;
    margin-top: 12px;
}

.fa-xmark {
	position: absolute;
	font-size: 26px;
	right: 5%;
	cursor: pointer;
	color: #000;
}

/******** CSS modal 2 *********/
.modal2 {
	display: none;
}

.modal2.active {
	display: block;
}

.icon-modal2 i {
	margin-top: 20px;
	margin-left: 10px;
	color: #000;
	width: 21px;
	height: 21px;
	font-size: 25px;
}

.modal2 h2 {
	margin-top: 30px;
	text-align: center;
	color: #000;
	font-family: Work Sans;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.add-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 64%;
	height: 246px;
	border-radius: 3px;
	background: #E8F1F6;
	position: relative;
}

.add-img input {
	width: 80%;
	background: #E8F1F6;
	box-shadow: none;
}

.validation-modal2 {
	color: #A7A7A7;
	text-align: center;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	border-radius: 50px;
	background: #CBD6DC;
	cursor: auto;
}

.add-img p {
	color: #444;
	text-align: center;
	font-family: Work Sans;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

form label {
	width: 63%;
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-top: 10px;
	margin-bottom: 10px;
}

.input-modal2 {
	width: 63%;
	background: #FFF;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
    height: 51px;
    flex-shrink: 0;
    border-color: transparent;
}

.underline-modal2 {
	width: 64%;
	height: 1px;
	background: #B3B3B3;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 60px;
}

.modal2 form {
	margin-top: 50px;
}

.validation-modal2 {
	width: 30%;
}

.fa-arrow-left {
	cursor: pointer;
}

input[type="file"] {
	height: 0;
	width: 0;
	display: none;
}

.add-img label {
	border: 1px solid transparent;
	border-radius: 50px;
	background: #CBD6DC;
	height: 36px;
	width: 237px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #306685;
	font-size: 14px;
}

.container-img {
	display: block;
}

.container-img.hidden {
	display: none;
}

.preview-p {
	display: block;
}

.preview-p.hidden {
	display: none;
}

.preview-label {
	display: block;
}

.preview-label.hidden  {
	display: none;
}

.delete-picture {
	color: #000;
	position: absolute;
	right: 20px;
	top: 10px;
	opacity: 0;
}

.delete-picture.active {
	opacity: 1;
	background: #E8F1F6;
}
  